[submodule "lib/30log"]
	path = lib/30log
	url = https://github.com/Yonaba/30log.git
[submodule "lib/anim8"]
	path = lib/anim8
	url = https://github.com/kikito/anim8.git
[submodule "lib/beholder"]
	path = lib/beholder
	url = https://github.com/kikito/beholder.lua.git
[submodule "lib/bump"]
	path = lib/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/vrld/hump.git
[submodule "lib/pool"]
	path = lib/pool
	url = https://github.com/treamology/pool.lua.git
[submodule "lib/fsm"]
	path = lib/fsm
	url = https://github.com/treamology/lua-state-machine.git
[submodule "lib/tiny"]
	path = lib/tiny
	url = https://github.com/bakpakin/tiny-ecs.git
